---
import BaseHead from "../../components/BaseHead.astro";
import BlogList from "../../components/BlogList.astro";
import Footer from "../../components/Footer.astro";
import Header from "../../components/Header.astro";
import { main } from "../../components/Main.css";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead description={SITE_DESCRIPTION} title={SITE_TITLE} />
    <style>
      main {
        width: 1000px;
      }
    </style>
  </head>
  <body>
    <Header />
    <main class={main}>
      <section>
        <BlogList />
      </section>
    </main>
    <Footer />
  </body>
</html>
