apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: cert
  namespace: homepage-production
spec:
  secretName: production-cert
  dnsNames:
    - aarnihalinen.fi
    - www.aarnihalinen.fi
  issuerRef:
    name: cert-issuer
    kind: ClusterIssuer
    group: cert-manager.io
