apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../base
  - certificate.yml
  - ingress.yml
namePrefix: production-
images:
  - name: homepage-production
    newName: registry.aarnihalinen.fi/homepage
    newTag: v1.0.13
