apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: cert
  namespace: homepage
spec:
  secretName: staging-tls-secret
  dnsNames:
    - staging.aarnihalinen.fi
  issuerRef:
    name: cert-issuer
    kind: ClusterIssuer
    group: cert-manager.io
