apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: cert
  namespace: homepage-staging
spec:
  secretName: staging-cert
  dnsNames:
    - staging.aarnihalinen.fi
  issuerRef:
    name: cert-issuer
    kind: ClusterIssuer
    group: cert-manager.io
