---
import type { HTMLAttributes } from "astro/types";

import * as stylex from "@stylexjs/stylex";

import { styles } from "./HeaderLink.stylex";

type Props = HTMLAttributes<"a">;

const { href, ...props } = Astro.props;

const { pathname } = Astro.url;

const subpath = pathname.match(/[^/]+/g);
const isActive = href === pathname || href === "/" + subpath?.[0];
---

<a
  {...stylex.attrs(styles.link, isActive && styles.active)}
  href={href}
  {...props}
>
  <slot />
</a>
