---
import { Icon } from "astro-icon/components";

import { container, link } from "./SocialLinks.css";
---

<div class={container}>
  <a class={link} href="https://m.webtoo.ls/@astro" target="_blank">
    <Icon height={32} name="mastodon" width={32} />
  </a>
  <a class={link} href="https://twitter.com/astrodotbuild" target="_blank">
    <Icon height={32} name="twitter" width={32} />
  </a>
  <a class={link} href="https://github.com/withastro/astro" target="_blank">
    <Icon height={32} name="github" width={32} />
  </a>
</div>
