---
import { Icon } from "astro-icon/components";

import {
  container,
  link,
  type LinkVariant,
  mobileHidden,
} from "./SocialLinks.css";

interface Props {
  hideOnMobile?: boolean | undefined;
  linkColor: LinkVariant;
}

const { hideOnMobile, linkColor } = Astro.props;
---

<div class:list={[container, { [mobileHidden]: hideOnMobile }]}>
  <a class={link[linkColor]} href="https://m.webtoo.ls/@astro" target="_blank">
    <Icon height={32} name="mastodon" width={32} />
  </a>
  <a
    class={link[linkColor]}
    href="https://twitter.com/astrodotbuild"
    target="_blank"
  >
    <Icon height={32} name="twitter" width={32} />
  </a>
  <a
    class={link[linkColor]}
    href="https://github.com/withastro/astro"
    target="_blank"
  >
    <Icon height={32} name="github" width={32} />
  </a>
</div>
