name: NPM audit

on:
  workflow_call:

jobs:
  audit:
    name: Run dependency audit
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: ./.github/actions/setup

      - name: Run dependency audit
        run: |
          pnpm audit --audit-level high --prod
