name: NPM audit

on:
  workflow_call:

jobs:
  audit:
    name: Run dependency audit
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: ./.github/actions/setup

      - name: Run dependency audit
        run: |
          pnpm audit --audit-level high --prod
