name: Build

on:
  workflow_call:

jobs:
  build:
    name: Build page
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: ./.github/actions/setup

      - name: Run Build
        run: |
          pnpm build
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: build-artifact
          path: |
            dist/
          retention-days: 30
          if-no-files-found: "error"
