name: Build

on:
  workflow_call:

jobs:
  build:
    name: Build page
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: ./.github/actions/setup

      - name: Run Build
        run: |
          pnpm build
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: build-artifact
          path: |
            dist/
          retention-days: 30
          if-no-files-found: "error"
