name: Build server in Dokcer
on:
  workflow_call:
    inputs:
      tags:
        required: true
        type: string
      # newline separated string
      build-args:
        required: false
        type: string
        default: ""
    secrets:
      REGISTRY_USER:
        required: true
      REGISTRY_PWD:
        required: true

jobs:
  push-image:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Login to Docker registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: registry.aarnihalinen.fi
          username: ${{ secrets.REGISTRY_USER }}
          password: ${{ secrets.REGISTRY_PWD }}
          logout: true

      - name: Build image
        id: docker_build
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          file: Dockerfile
          push: true
          tags: ${{ inputs.tags }}
          build-args: ${{ inputs.build-args }}
          builder: ${{ steps.buildx.outputs.name }}
          platforms: linux/amd64
          cache-from: type=gha
          cache-to: type=gha,mode=max
