name: Lint

on:
  workflow_call:

jobs:
  lint:
    name: Run linter
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: ./.github/actions/setup

      - name: Run Prettier
        run: |
          pnpm exec prettier --check .

      - name: Run Linter
        run: |
          pnpm lint

      - name: Validate Renovate config
        uses: rinchsan/renovate-config-validator@a12a2b98cd4db923c33d1ce407c57afb43f3ff59 # v0.2.0
        with:
          pattern: "renovate.json"
